mixin preloader()
  +b.preloader&attributes(attributes)
    +e.inner
      +e.logo
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 4834 4186', height='158.211', width='48.34mm', clip-rule='evenodd', fill-rule='evenodd', image-rendering='optimizeQuality', shape-rendering='geometricPrecision', text-rendering='geometricPrecision')#logo-big
          path(d='M2417 0l2417 4186h-574L2417 994 861 3688h1581l287 498H0z', fill='red')
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 4834 4186', height='158.211', width='48.34mm', clip-rule='evenodd', fill-rule='evenodd', image-rendering='optimizeQuality', shape-rendering='geometricPrecision', text-rendering='geometricPrecision')#logo-small
          path(fill='red', d='M2407.737 2827.06l-264 457h-574l838-1451 1365 2363h-574z')
      +e.progress
        +e.line
