include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'There is title';

  +page
    .grid

    +b.content._index
      +e.inner
        +e.withoutscroll
          .grid
            p(style='color:red') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam at cumque delectus deserunt dolores eligendi, enim esse inventore ipsum iure minus molestiae officia omnis quas rem sequi similique sint vel vero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam at cumque delectus deserunt dolores eligendi, enim esse inventore ipsum iure minus molestiae officia omnis quas rem sequi similique sint vel vero?
        +e.withscroll
          .grid
            +b('header').header(style='padding:0 15px')
              +video-background
              hr(style='margin:0')
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aperiam assumenda at autem blanditiis, consequatur consequuntur corporis cum delectus deserunt dolorem dolores eligendi, enim eos hic in iure libero magni nemo nesciunt odio porro possimus quisquam quos ratione recusandae repellat, reprehenderit repudiandae sapiente similique soluta sunt ut velit vitae voluptatem voluptatibus. Aliquid doloribus earum est eum ex expedita facere fugit illo iusto nam nisi, nobis recusandae reiciendis sint
              hr(style='margin:0')

    +preloader
